<h2>We played <%= @player_move %>!</h2>
<h2>They played <%= @computer_move %>!</h2>
<h2><%= @outcome %></h2>

<br>
<a href="/">Rules</a>
<p><a href="/scissors">Play Scissors</a></p>
<p><a href="/paper">Play Paper</a></p>
<p><a href="/rock">Play Rock</a></p>
